/development_environment/.terraform/
/development_environment/terraform.state
/development_environment/modules/*.pem
/development_environment/.terraform.lock.hcl
/development_environment/terraform.tfstate.backup
/development_environment/.terraform.tfstate.lock.info
/development_environment/private-key-connector
/development_environment/public-ip-value
/development_environment/development-private-key-connector
/development_environment/production-private-key-connector
/development_environment/development-public-ip-value
/development_environment/production-public-ip-value
/development_environment/mykey
/production_environment/.terraform/
/production_environment/terraform.tfstate
/production_environment/modules/*.pem
/production_environment/.terraform.lock.hcl
/production_environment/terraform.tfstate.backup
/production_environment/.terraform.tfstate.lock.info
/production_environment/private-key-connector
/production_environment/public-ip-value
/production_environment/production-private-key-connector
/production_environment/production-public-ip-value
/production_environment/mykey
/TBD
