/development_environment/.terraform/
/development_environment/terraform.tfstate
/production_environment/.terraform/
/production_environment/terraform.tfstate
/production_environment/modules/*.pem
/TBD
